@import "tailwindcss";

.gameContainer {
    @apply flex flex-col gap-1 items-center
}

.boardContainer {
    @apply flex flex-col border-emerald-300 border-4
}

.boardRow {
    @apply flex
}

.boardCell {
    @apply flex size-10 m-px;
    @apply justify-center content-center items-center;
}

.actionButtonsContainer {
    @apply flex gap-2 mt-2;

    button {
        @apply text-lg;
    }
}

.instructionsContainer {
    @apply flex flex-col items-center text-lg;
    .focusedText {
        @apply text-amber-400;
    }
}

.unknownCell {
    background-image: url("/icons/mine-scooper/maple-leaf.png"), url("/icons/mine-scooper/grassland.png");
    background-size: cover;
}

.mineCell {
    background-image: url("/icons/mine-scooper/poop.png"), url("/icons/mine-scooper/grassland.png");
    background-size: cover;
}

.markedCell {
    background-image: url("/icons/mine-scooper/flag.png"), url("/icons/mine-scooper/maple-leaf.png"), url("/icons/mine-scooper/grassland.png");
    background-size: cover;
}

.explodedCell {
    background-image: url("/icons/mine-scooper/paint.png"), url("/icons/mine-scooper/grassland.png");
    background-size: cover;
}

.emptyCell {
    background-image: url("/icons/mine-scooper/grassland.png");
    background-size: cover;
}
